/* 输入框 */
body {
    margin: 0px;
    padding: 0px;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 230px;
    max-width: 550px;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
    position: relative;
}
h1 {
    position: absolute;
    top: -145px;
    width: 100%;
    font-size: 100px;
    font-weight: 100;
    text-align: center;
    color: rgba(175, 47, 47, 0.15);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}
.inputContents::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #d9d9d9;
}
.inputContents:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #d9d9d9;
}
.inputContents::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #d9d9d9;
}
.inputContents:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #d9d9d9;
}
.allContent {
    margin:0 auto;
    width: 100%;
    height: auto;
    border:1px solid rgb(250, 246, 246);
    margin: 130px 0 40px 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    background-color: #fff;
    position: relative;
}
.input {
    width: 100%;
    height: 60px;
    border-bottom: solid rgb(231, 228, 228) 1px;  
}

.image {
    position: absolute;
    width: 24px;
    height: 24px;
    visibility: hidden;
    top:15px;
}
.image+label {
    margin-top:15px;
    /* display: inline-block; */
    float: left;
    width: 24px;
    height: 24px;  
    margin-left: 10px;
    margin-right: 25px;
    background:url(image/down_gray.png) no-repeat;

}

.inputContent {
    /* display: inline-block; */
    /* margin-left:15px; */
    margin-top: 8px;
    float: left;
}

.inputContents {
    left:30px;
    width: 100%;
    height: 45px;
    border: none;
    bottom: 10px;
    outline:none;
    font-size: 24px;
    margin-left: 60px;
}

/* 列表 */
.list {
    vertical-align: center;
    text-align: center;
    width: 100%;
    height: auto;
}
.listDiv {
    width: 100%;
    height: auto;
}
.listContent {
    display: grid;
    grid-template-columns: 8% 91%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 60px;
    border-bottom: solid rgb(231, 228, 228) 1px;
    white-space: pre-line;
    word-break: break-all;
   position: relative;
}
.checkboxContent {
    grid-row: 1;
    width: 40px;
    height: 40px;
    left:0;
    margin-top: 10px;
    z-index: 99;
    -webkit-appearance: none;
    appearance: none;
    outline:none;
       
}

.labelImg {
    position: absolute;
    margin-top: 10px;
    left: 0;
    background: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23ededed%22%20stroke-width%3D%223%22/%3E%3C/svg%3E') no-repeat;
    display: inline-block;
    width: 40px;
    height: 40px;
}

.spanContent {
    /* margin-top: 16px; */
    padding: 15px 15px 15px 0px;
    grid-row: 1;
    height: auto;
    border-style: none;
    font-size: 24px;
    resize: none;
    overflow-y: hidden;
    text-indent: 20px;
    /* outline: none; */
}
.deleteImg {
    position: absolute;
    width: 24px;
    display: none;
    margin-top: 18px;
    right: 12px;
}

.divContent {
    vertical-align: center;
    width: 100%;
    height: 48px;
    /* line-height: 32px; */
    padding:12px 0;
    box-sizing: border-box;
}
.divContent::before{
content: '';
position: absolute;
right: 0;
bottom: 0;
left: 0;
height: 50px;
overflow: hidden;
box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 8px 0 -3px #f6f6f6, 0 9px 1px -3px rgba(0, 0, 0, 0.2), 0 16px 0 -6px #f6f6f6, 0 17px 2px -6px rgba(0, 0, 0, 0.2);
}

.number {
    position: absolute;
    left:15px;
    color: #8B8878;
}
.labelSpan {
    position: absolute;
    left:24px;
    padding-left: 10px;
    /* margin-top: 5px; */
    color: #8B8878;
}
.all {
    position: absolute;
    left: 30%;
    /* margin-top: 5px; */
    padding-left: 8px;
    padding-right: 8px;
    color: #8B8878;
    border-radius:5px ;
    line-height: 20px;
}
.active {
    position: absolute;
    left:36.5%;
    /* margin-top: 5px; */
    padding-left: 8px;
    padding-right: 8px;
    color: #8B8878;
    border-radius:5px ;
    line-height: 20px;
}
.completed {
    position: absolute;
    left:47%;
    /* margin-top: 5px; */
    padding-left: 8px;
    padding-right: 8px;
    color: #8B8878;
    border-radius:5px ;
    line-height: 20px;
}
.clear {
    position: absolute;
    right: 15px;
    display: none;
    color: #8B8878;
}